.DS_Store
node_modules/
npm-debug.log
*~
dic.pdf
dictionary.pdf
dictionary_cover.pdf
.sass-cache/
publish/
pdf/
dic-pdf/
*.yml-old
*.rake-old
*.md-old
*.sty-old
*.cls-old
goodcalories-pdf/
goodcalories.pdf
